* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*::selection {
    background-color: rgba(187, 94, 248, 0.568);
    color: grey;
}
.container-dark{
    background-size: contain;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}
.container-light{
    background-size: contain;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
}
.header-container {
    display: inline-flex;
    width: 100%;
}
.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.about-container img {
    width: 20%;
    margin: 2% 1%;
}
.welcome-container-dark {
    text-shadow: 2px 2px grey;
    color: white;
}
.welcome-container-light {
    color: black;
    text-shadow: 2px 2px grey;
}
.welcome-container h2 {
    
    text-align: center;
    width: 33%;
}
.container2 {
    display: inline-flex;
    
}
.container3 {
    height: fit-content;
    width: 33%;
}

.proj-inline {
    flex-direction: column;
    margin: auto;
    margin-bottom: 2%;
    padding-bottom: 2%;
    width: 50%;
    height: 100%;
    float: left;
}
.proj-inline2 {
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    width: 50%;
    height: 100%;
    float: right;
}
.proj button.theme-dark {
    padding: 2%;
    font-size: 1.4rem;
    margin: 1%;
    margin-top: 3%;
    border-radius: 50%;
    transition: background-color ease-out 0.3s;
    background-color: black;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 5px 19px 0px;
    color: white;
}
.proj button.theme-dark:hover {
    box-shadow: rgba(187, 94, 248, 0.568) 0px 7px 29px 0px;
    background-color: black;
    color: white;
}
.proj button.theme-light {
    padding: 2%;
    font-size: 1.4rem;
    margin: 1%;
    margin-top: 3%;
    border-radius: 50%;
    border: none;
    transition: background-color ease-out 0.3s;
    background-color: white;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 5px 19px 0px;
    color: black;
}
.proj button.theme-light:hover {
    box-shadow: rgba(187, 94, 248, 0.568) 0px 7px 29px 0px;
    background-color: white;
    color: black;
}
section.body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
}
h1.name {
    padding: 2%;
    font-size: 50px;
}
h3.goal-dark {
    padding: 10%;
    margin-top: 10px;
    font-size: 22px;
    border-left: 2px solid white;
}
h3.goal-light {
    padding: 10%;
    margin-top: 10px;
    margin-left: 1%;
    font-size: 22px;
    border-left: 4px solid black;
}
h2.about {
    margin-top: 25px;
}
nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
img.profile-img {
    float: right;
    margin: 1%;
    border-radius: 50%;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 5px 19px 0px;
    position: relative;
}
img.profile-img:hover {
    cursor: none;
}
.project-listing {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.project-anchors {
    width: 50%;
}
.project-link {
    width: 50%;
}
.proj img {
    margin: auto;
}
.navbox-dark {
    padding: 2%;
    font-size: 28px;
    margin: 2%;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 5px 19px 0px;
    background-color: black;
    height: fit-content;
    width: fit-content;
    position: relative;
    color: white;
    border-radius: 10%;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.flexing {
    display: inline-flex;
    margin: auto;
}
.navbox-dark:hover {
    padding: 2%;
    margin: 2%;
    box-shadow: rgba(187, 94, 248, 0.568) 0px 7px 29px 0px;
    background-color: black;
    width: fit-content;
    border-radius: 10%;
    color: beige;
    cursor: pointer;
}
.navbox-home-dark{
    padding: 2%;
    font-size: 28px;
    margin: 2%;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 5px 19px 0px;
    background-color: black;
    height: fit-content;
    width: fit-content;
    color: white;
    border-radius: 10%;
    position: relative;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-home-dark:hover {
    padding: 2%;
    margin: 2%;
    box-shadow: rgba(187, 94, 248, 0.568) 0px 7px 29px 0px;
    background-color: black;
    width: fit-content;
    border-radius: 10%;
    color: beige;
    cursor: pointer;
}
.navbox-home-light{
    padding: 2%;
    font-size: 28px;
    margin: 2%;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 5px 19px 0px;
    background-color: white;
    height: fit-content;
    width: fit-content;
    color: black;
    border-radius: 10%;
    position: relative;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-home-light:hover{
    padding: 2%;
    font-size: 28px;
    margin: 2%;
    box-shadow: rgba(187, 94, 248, 0.568) 0px 7px 29px 0px;
    background-color: white;
    height: fit-content;
    width: fit-content;
    color: black;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-light {
    padding: 2%;
    font-size: 28px;
    margin: 2%;
    margin-left: 30%;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 5px 19px 0px;
    background-color: white;
    height: fit-content;
    width: fit-content;
    position: relative;
    color: black;
    border-radius: 10%;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-light:hover{
    padding: 2%;
    font-size: 28px;
    margin: 2%;
    margin-left: 30%;
    box-shadow: rgba(187, 94, 248, 0.568) 0px 7px 29px 0px;
    background-color: white;
    height: fit-content;
    width: fit-content;
    color: black;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s, width ease-out 0.4s;
}
section.about {
    border-top: 10px solid black;
    line-height: 2;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.underline-section {
    height: 5px;
    width: 100px;
    background-color: black;
    margin: auto;
    margin-bottom: 50px;
}
.slider-container {
    margin: auto;
    text-align: justify;
}
.slider-container h2 {
    padding-top: 2%;
}
.slider-container img {
    width: fit-content;
    padding: 5%;
}
.flexington {
    padding-top: 5%;
}
.themer {
    border-radius: 30%;
    padding: 1%;
    color: grey;
    transition: box-shadow ease-in 0.2ms;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 7px 29px 0px;
}
.themer:hover {
    cursor: pointer;
    box-shadow: rgba(187, 94, 248, 0.568) 0px 7px 29px 0px;
}
button.slick-arrow.slick-next {
    background-color: black;
    border-radius: 50%;
}
button.slick-arrow.slick-prev {
    background-color: black;
    border-radius: 50%;
}
.about-section-dark {
    background-color: black;
    color: white;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 7px 29px 0px;
    width: 75%;
    z-index: 1;
    margin: auto;
    position: relative;
}

.about-section-light {
    background-color: white;
    color: black;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 7px 29px 0px;
    width: 75%;
    margin: auto;
}
.about-section-dark h2 {
    text-align: center;
    color: white;
}
.about-section-light h2 {
    text-align: center;
    color: black;
}
.about-section-dark p {
    text-align: left;
    margin: 0;
    color: white;
}
.about-section-light p {
    text-align: left;
    margin: 0;
}
.middle-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slick-dots li.slick-active button:before {
    color:White !important;
}
.slick-dots li button:before {
    color:White !important;
}
footer {
    text-align: center;
    margin-top: 55px;
    padding-top: 1%;
    color: white;
    position: relative;
}
.footer-icons {
    display: flex;
    margin: 20px;
    margin-bottom: 0;
    justify-content: space-evenly;
    padding-bottom: 1%;
}
.footer-icons > .social-icon {
    box-shadow: rgba(216, 159, 255, 0.568) 0px 3px 29px 0px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
}
.footer-icons > .social-icon:hover {
    box-shadow: rgba(187, 94, 248, 0.568) 0px 3px 29px 0px;
    border-radius: 50%;
}
.feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}
.feedback {
    margin-top: 5%;
}
.feedback-box {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 10px;
    line-height: 2;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
}
.feedback-box:focus:invalid {
    border: 2px solid red;
}
.submit-feedback {
    margin: auto;
    width: 200px;
    border-radius: 10px;
    height: 75px;
    margin-top: 5%;
    box-shadow: rgba(216, 159, 255, 0.568) 0px 7px 29px 0px;
    
}
.submit-feedback:hover {
    box-shadow: rgba(187, 94, 248, 0.568) 0px 3px 29px 0px;
    
}
@media only screen and (max-width: 1500px) {
    .about-section-dark {
        margin-top: 2%;
    }
    .about-section-light {
        margin-top: 2%;
    }
    .flexing {
        display: block;
    }
    .flexing > img {
        margin: auto;
    }
    .proj-inline2 {
        width: 100%;
    }
    .proj-inline {
        width: 100%;
    }
}
@media only screen and (max-width: 1000px) {
    .about-section-dark {
        margin-top: 2%;
    }
    .about-section-light {
        margin-top: 2%;
    }
    .flexing {
        display: block;
    }
    .flexing > img {
        margin: auto;
    }
    .flexington {
        padding: 2%;
    }
    .proj-inline2 {
        width: 100%;
    }
    .proj-inline {
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 500px) {
    .profile-img {
        width: 50px;
        height: 50px;
    }
    p {
        font-size: 12px;
        padding: 1%;
    }
    .header-container {
        justify-content: space-between;
    }
    .navbar {
        flex-direction: column;
        margin-bottom: 5%;
    }
    .flexing {
        display: block;
    }
    .about-section-dark {
        width: 90%;
        border: 5px solid white;
    }
    .about-section-light {
        width: 90%;
        border: 5px solid black;
    }
    #root {
        margin-right: 0;
        padding-right: 0;
    }
    .proj img {
        display: block;
        padding: 0;
        margin: auto;
    }
    .proj-inline {
        width: fit-content;
        justify-content: center;
        text-align: center;
        margin: 10%;
        padding: 0;
    }
    .proj-inline2 {
        width: fit-content;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 300px) {
    .proj-inline {
        display: block;
        width: fit-content;
        margin: 1%;
        padding: 0;
    }
    .about-section-dark {
        width: 100%;
    }
    .about-section-light {
        width: 100%;
    }
}