@font-face {
    font-family: "logo";
    src: local("logoFont"),
    url("./fonts/logoFont.ttf") format("truetype");
}
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*::selection {
    background-color: yellow;
    color: black;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    padding-left: 5%;
    padding-right: 5%;
  }
  .logo-flex-dark {
    width: 100%;
    padding: 1%;
    color: #F9F6EE;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-container-dark {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 2px solid #CCDBDC;
    background-color: #003249;
    position: fixed;
    top: 0;
    z-index: 1;
    align-items: center;
  }
  .nav-container-light {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid black;
    background-color: #008AB8;
    position: fixed;
    top: 0;
  }
.container-dark{
    
    background-size: contain;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
.container-light{
    background-size: contain;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
.header-container {
    display: inline-flex;
    width: 100%;
    height: fit-content;
}
.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
.about-container img {
    width: 20%;
    margin: 2% 1%;
}
.landing-div {
    display: flex;
    flex-direction: column;
}
.typewriter-dark {
    margin: auto;
    color: #CCDBDC;
    font-size: 1.8rem;
}
.typewriter-light {
    margin: auto;
    color: black;
    font-size: 1.8rem;
}
.landing-container-dark {
    background-color: #007EA7;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4%;
}
.landing-container-light {
    background-color: #47D1FF;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4%;
}
.welcome-container-dark {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #003249;
}
.welcome-container-light {
    color: black;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: #008AB8;
}
.welcome-container h2 {
    text-align: center;
    width: 33%;
}
.container3 {
    height: fit-content;
    width: 33%;
}

.proj-inline {
    flex-direction: column;
    margin: auto;
    margin-bottom: 2%;
    padding-bottom: 2%;
    width: 50%;
    height: 100%;
    float: left;
}
.proj-inline2 {
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
    width: 50%;
    height: 100%;
    float: right;
}
.proj-inline2 > p {
    font-size: 1.2rem;
    padding-bottom: 3%;
}
.proj button.theme-dark {
    padding: 2%;
    font-size: 1.4rem;
    margin: 1%;
    margin-top: 3%;
    border-radius: 50%;
    transition: background-color ease-out 0.3s;
    background-color: #CCDBDC;
    border: none;
}
.proj button.theme-dark:hover {
    color: #007EA7;
    border: 2px solid yellow;
    cursor: pointer;
}
.proj button.theme-light {
    padding: 2%;
    font-size: 1.4rem;
    margin: 1%;
    margin-top: 3%;
    border-radius: 50%;
    border: none;
    transition: background-color ease-out 0.3s;
    background-color: #F9F6EE;
    color: black;
}
.proj button.theme-light:hover {
    background-color: white;
    color: black;
}
section.body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
}
h1.name-dark {
    padding: 2%;
    font-size: 50px;
    color: #CCDBDC;
    text-align: center;
}
h1.name-light {
    padding: 2%;
    font-size: 50px;
    color: black;
    text-align: center;
}
h3.goal-dark {
    padding: 3%;
    margin-top: 1%;
    font-size: 1.4rem;
    height: fit-content;
    color: #CCDBDC;
    text-align: center;
}
h3.goal-light {
    padding: 3%;
    margin-top: 1%;
    font-size: 1.4rem;
    height: fit-content;
    text-align: center;
}
.arrow-down-dark {
    color: #CCDBDC;
    margin: auto;
    font-size: 4.5rem;
    cursor: pointer;
}
.arrow-down-light {
    color: black;
    margin: auto;
    font-size: 4.5rem;
    cursor: pointer;
}
.arrow-down-dark:hover {
    color: yellow;
}
.arrow-down-light:hover {
    color: yellow;
}
h2.about {
    margin-top: 25px;
}
.main-project-dark {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 2%;
    width: 80%;
    margin-top: 2%;
}
.main-project-light {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 2%;
    width: 80%;
    margin-top: 2%;
}
.project-cards-dark {
    background-color: #005C7A;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    color: #CCDBDC;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
.project-cards-light {
    background-color: #00B8F5;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    color: black;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
.project-cards-dark:hover {
    box-shadow: yellow 2px 2px 14px 0px;
}
.project-cards-light:hover {
    box-shadow: yellow 2px 2px 14px 0px;
}
.project-cards-dark img {
    width: 90%;
}
.project-cards-light img {
    width: 90%;
}
.projects-background-dark {
    background-color: #008AB8;
    padding-top: 2%;
    
}
.projects-background-light {
    padding-top: 2%;
    background-color: #85E0FF;
}
.projects-background-dark h2 {
  text-align: center;
  color: #CCDBDC;
}
.projects-background-light h2 {
    text-align: center;
    color: black;
  }
.starter-h2-dark {
    color: #CCDBDC;
    margin: auto;
    line-height: 2.5rem;
    padding: 3%;
    font-size: 1.7rem;
    margin-bottom: 3%;
    text-align: center;
    background-color: #008AB8;
}
.starter-h2-light {
    color: black;
    margin: auto;
    line-height: 2.5rem;
    padding: 3%;
    font-size: 1.7rem;
    margin-bottom: 3%;
    width: 70%;
    background-color: #BEE5BF;
}
nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: yellow;
}
img.profile-dark {
    border-radius: 50%;
    margin: auto;
    margin-top: 2%;
}
img.profile-light {
    margin: auto;
    margin-top: 2%;
    border-radius: 50%;
}
img.profile-img:hover {
    cursor: none;
}
.project-listing {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.project-anchors {
    width: 50%;
}
.project-link {
    width: 50%;
}
.proj img {
    margin: auto;
}

.navbox-dark {
    margin: 1%;
    padding: 1%;
    font-size: 1.5rem;
    height: fit-content;
    background-color: #CCDBDC;
    width: fit-content;
    color: black;
    border-radius: 10%;
    border: 2px solid black;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.flexing {
    display: inline-flex;
    margin: auto;
}
.nav-buttons-div {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-buttons-div div {
   padding: 3%;
}
.nav-buttons-div div:hover {
    padding: 3%;
}
.navbox-dark:hover {
    font-size: 1.5rem;
    height: fit-content;
    background-color: #CCDBDC;
    width: fit-content;
    border-radius: 10%;
    color: #007EA7;
    border: 2px solid yellow;
    cursor: pointer;
}
.navbox-home-dark{
    margin: 1%;
    padding: 1%;
    font-size: 1.5rem;
    background-color: #CCDBDC;
    height: fit-content;
    width: fit-content;
    color: black;
    border-radius: 10%;
    border: 2px solid black;
    position: relative;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-home-dark:hover {
    font-size: 1.5rem;
    height: fit-content;
    background-color: #CCDBDC;
    width: fit-content;
    border-radius: 10%;
    color: #007EA7;
    cursor: pointer;
    border: 2px solid yellow;
}
.navbox-home-light{
    padding: 1%;
    font-size: 1.5rem;
    margin: 1%;
    background-color: #F9F6EE;
    height: fit-content;
    width: fit-content;
    color: black;
    border-radius: 10%;
    position: relative;
    border: 2px solid black;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-home-light:hover{
    padding: 1%;
    font-size: 1.5rem;
    margin: 1%;
    background-color: #F9F6EE;
    height: fit-content;
    width: fit-content;
    color: black;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
    border: 2px solid yellow;
    color: #008AB8;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-light {
    padding: 1%;
    font-size: 1.5rem;
    margin: 1%;
    background-color: #F9F6EE;
    height: fit-content;
    width: fit-content;
    position: relative;
    color: black;
    border-radius: 10%;
    border: 2px solid black;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox-light:hover{
    padding: 1%;
    font-size: 1.5rem;
    margin: 1%;
    background-color: #F9F6EE;
    height: fit-content;
    width: fit-content;
    color: black;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
    color: #008AB8;
    border: 2px solid yellow;
    transition: background-color 0.2s, width ease-out 0.4s;
}
section.about {
    border-top: 10px solid black;
    line-height: 2;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.underline-section {
    height: 5px;
    width: 100px;
    background-color: black;
    margin: auto;
    margin-bottom: 50px;
}
.slider-container {
    margin: auto;
    text-align: justify;
}
.slider-container h2 {
    padding-top: 2%;
}
.slider-container img {
    width: fit-content;
    padding: 5%;
}
.flexington {
    padding-top: 5%;
}
.themer-dark {
    border-radius: 40%;
    margin: 1%;
    height: fit-content;
    border: none;
    padding: none;
    font-size: 3rem;
}
.themer-light {
    border-radius: 40%;
    margin: 1%;
    height: fit-content;
    border: none;
    font-size: 3rem;
}
.themer-dark:hover {
    cursor: pointer;
}
.themer-light:hover {
    cursor: pointer;
}
button.slick-arrow.slick-next {
    background-color: black;
    border-radius: 50%;
}
button.slick-arrow.slick-prev {
    background-color: black;
    border-radius: 50%;
}
.about-section-dark {
    background-color: #005C7A;
    color: #CCDBDC;
    width: 95%;
    margin: auto;
}
.about-section-light {
    color: black;
    margin: auto;
    position: relative;
    border-radius: 5%;
}
.about-section-dark h2 {
    text-align: center;
    color: #CCDBDC;
}
.about-section-light h2 {
    text-align: center;
    color: black;
}
.about-section-dark p {
    text-align: left;
    margin: 0;
    color: #CCDBDC;
}
.about-section-light p {
    text-align: left;
    margin: 0;
}
.middle-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slick-dots li.slick-active button:before {
    color:White !important;
}
.slick-dots li button:before {
    color:White !important;
}
.about-background-dark {
    background-color: #008AB8;
}
.about-background-light {
    background-color: #85E0FF;
}
.about-message-dark {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #008AB8;;
    text-align: center;
    width: 80%;
    margin: auto;
    height: fit-content
}
.about-message-light {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #85E0FF;
    text-align: center;
    width: 80%;
    margin: auto;
    height: fit-content
}
.about-message-dark > h2 {
    color: #CCDBDC;
}
.about-message-light > h2 {
    color: black;
}
.para-dark {
    color: #CCDBDC;
    margin-top: 2%;
}
.para-light {
    color: black;
    margin-top: 2%;
}
.about-message-dark > .about-cards-dark {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    background-color: #005C7A;
    width: 50%;
    padding: 3%;
    border-radius: 10px;
}
.about-message-light > .about-cards-light {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    background-color: #00B8F5;
    width: 50%;
    padding: 3%;
    border-radius: 10px;
}
.about-cards-dark img {
    width: 60%;
}
.about-cards-light img {
    width: 60%;
}
.about-cards-dark img:hover {
    cursor: none;
}
.about-cards-light img:hover {
    cursor: none;
}
.outro-dark {
    padding-bottom: 5%;
    line-height: 2.5rem;
    color: #CCDBDC;
    width: 60%;
    margin: auto;
    margin-top: 3%;
}
.outro-dark h2 {
    margin-bottom: 2%;
    font-size: 26px;
    text-align: left;
}
.outro-dark p {
    font-size: 20px;
    text-align: left;
}
.outro-light {
    padding-bottom: 5%;
    line-height: 2.5rem;
    color: black;
    width: 60%;
    margin: auto;
    margin-top: 3%;
}
.outro-light h2 {
    margin-bottom: 2%;
    font-size: 26px;
    text-align: left;
}
.outro-light p {
    font-size: 20px;
    text-align: left;
}
.skill-cards-dark {
    width: 60%;
    background-color: #005C7A;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 10px;
}
.skill-cards-light {
    width: 60%;
    background-color: #00B8F5;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 10px;
}
.cards-dark h4 {
    color: #CCDBDC;
    font-size: 1.2rem;
}
.cards-light h4 {
    font-size: 1.2rem;
    height: fit-content;
    color: black;
}
.skill-cards-dark h4 {
    color: #CCDBDC;
    font-size: 2rem;
}
.skill-cards-light h4 {
    font-size: 2rem;
    color: black;
}
.cards-dark p {
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-top: 3%;
    color: #CCDBDC;
    font-size: 1.2rem;
    height: fit-content;
}
.cards-light p {
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-top: 3%;
    color: black;
    font-size: 1.2rem;
}
.skill-cards-dark li {
    width: fit-content;
    height: fit-content;
    padding: 3%;
    margin-left: 10%;
    color: #CCDBDC;
    text-align: left;
}
.skill-cards-light li {
    width: fit-content;
    height: fit-content;
    padding: 3%;
    margin-left: 10%;
    text-align: left;
    color: black;
}
.about-message > p {
    padding: 4%;
    line-height: 2.4rem;
    margin: auto;
}
.footer-logo {
    cursor: pointer;
    width: 100%;
}
.footer-arrow-dark {
    color: #CCDBDC;
}
.footer-arrow-dark h1 {
    font-size: 3rem;
    cursor: pointer;
}
.footer-arrow-light {
    color: black;
}
.footer-arrow-light h1 {
    font-size: 3rem;
    cursor: pointer;
}
.footer-dark {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #003249;
    color: #CCDBDC;
    position: relative;
}
.footer-light {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #008AB8;
    color: black;
    position: relative;
}
.footer-dark h4 {
    color: #CCDBDC;
    font-size: 1rem;
    padding: 2%;
}
.footer-light h4 {
    color: black;
    font-size: 1rem;
    padding: 2%;
}
.footer-icons {
    display: flex;
    margin: 2%;
    margin-bottom: 0;
    justify-content: space-evenly;
    padding-bottom: 1%;
    align-items: center;
}
.footer-icons .social-icon {
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
}
.footer-icons .social-icon:hover {
    border-radius: 50%;
    border: 2px solid yellow;
}
label {
    font-weight: bold;
    font-size: larger;
}
.feedback-dark {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    background-color: #007EA7;
    color: #CCDBDC;
}
.feedback-light {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    background-color: #47D1FF;
    color: black;
}
.feedback-box {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 10px;
    line-height: 2;
    overflow: hidden;
    border: 2px solid black;
}
.feedback-box:focus:invalid {
    border: 2px solid red;
}
.submit-feedback-dark {
    margin: auto;
    width: 200px;
    border-radius: 10px;
    height: 75px;
    margin-top: 5%;
    background-color: #CCDBDC;
    border: 2px solid #005C7A;
}
.submit-feedback-light {
    margin: auto;
    width: 200px;
    border-radius: 10px;
    height: 75px;
    margin-top: 5%;
    border: 2px solid black;
    background-color: #F9F6EE;
}
.submit-feedback-dark:hover {
    border: 2px solid yellow;
    color: #007EA7;
    font-weight: bold;
}
.submit-feedback-light:hover {
    border: 2px solid yellow;
    color: #008AB8;
    font-weight: bold;
}
@media only screen and (max-width: 1500px) {
    h2.outro-dark {
        font-size: 1.2rem;
    }
    h2.outro-light {
        font-size: 1.2rem;
    }
    .footer-icons h4 {
        display: none;
    }
    .footer-icons {
        align-items: center;
    }
    .about-section-dark {
        margin-top: 2%;
    }
    .about-section-light {
        margin-top: 2%;
    }
    .flexing {
        display: block;
    }
    .flexing > img {
        margin: auto;
    }
    .proj-inline2 {
        width: 100%;
    }
    .proj-inline {
        width: 100%;
    }
    .welcome-container-dark {
        flex-wrap: wrap;
    }
    .welcome-container-light {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1000px) {
    .main-project-dark {
        flex-wrap: wrap;
        margin: auto;
    }
    .project-cards-dark {
        margin: 2%;
    }
    .main-project-light {
        flex-wrap: wrap;
        margin: auto;
    }
    .project-cards-light {
        margin: 2%;
    }
    .skill-cards-dark {
        width: 70%;
    }
    .skill-cards-light {
        width: 70%;
    }
    .about-message-dark > .about-cards-dark {
        width: 80%;
    }
    .about-message-light > .about-cards-light {
        width: 80%;
    }
    .landing-container-dark {
        padding-top: 7%;
    }
    .landing-container-light {
        padding-top: 7%;
    }
    .profile-img {
        width: 50px;
        height: 50px;
    }
    h2.outro-dark {
        font-size: 1rem;
    }
    h2.outro-light {
        font-size: 1rem;
    }
    .outro-dark p {
        margin-top: 2%;
        font-size: 1rem;
    }
    .welcome-container-dark {
        flex-wrap: wrap;
    }
    .welcome-container-light {
        flex-wrap: wrap;
    }
    .outro-light p {
        margin-top: 2%;
        font-size: 1rem;
    }
    .nav-container {
        width: fit-content;
    }
    .submit-feedback {
        width: fit-content;
        padding: 2%;
        height: fit-content;
    }
    p {
        font-size: 12px;
        padding: 1%;
    }
    .header-container {
        justify-content: space-between;
    }
    .navbar {
        flex-direction: column;
        margin-bottom: 5%;
    }
    .flexing {
        display: block;
    }
    
    #root {
        margin-right: 0;
        padding-right: 0;
    }
    .proj img {
        display: block;
        padding: 0;
        margin: auto;
    }
    .proj-inline {
        width: fit-content;
        justify-content: center;
        text-align: center;
        margin: 10%;
        padding: 0;
    }
    .proj-inline2 {
        width: fit-content;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
     
}
@media only screen and (max-width: 500px) {
    .arrow-down-dark {
        display: none;
    }
    .arrow-down-light {
        display: none;
    }
    .skill-cards-dark {
        width: 90%;
    }
    .skill-cards-light {
        width: 90%;
    }
    .about-message-dark > .about-cards-dark {
        width: 100%;
    }
    .about-message-light > .about-cards-light {
        width: 100%;
    }
    .landing-container-dark {
        padding-top: 10%;
        height: 92vh;
    }
    .landing-container-light {
        padding-top: 10%;
        height: 92vh;
    }
    .profile-img {
        width: 50px;
        height: 50px;
    }
    .outro-dark p {
        margin-top: 2%;
        font-size: 1rem;
    }
    .welcome-container-dark {
        flex-wrap: wrap;
    }
    .welcome-container-light {
        flex-wrap: wrap;
    }
    .outro-dark p {
        margin-top: 2%;
        font-size: 0.8rem;
    }
    .outro-light p {
        margin-top: 2%;
        font-size: 0.8rem;
    }
    .nav-container {
        width: fit-content;
    }
    .submit-feedback {
        width: fit-content;
        padding: 2%;
        height: fit-content;
    }
    p {
        font-size: 12px;
        padding: 1%;
    }
    .header-container {
        justify-content: space-between;
    }
    .navbar {
        flex-direction: column;
        margin-bottom: 5%;
    }
    .flexing {
        display: block;
    }
    .about-section-dark {
        width: 90%;
        
    }
    .about-section-light {
        width: 90%;
        
    }
    #root {
        margin-right: 0;
        padding-right: 0;
    }
    .proj img {
        display: block;
        padding: 0;
        margin: auto;
    }
    .proj-inline {
        width: fit-content;
        justify-content: center;
        text-align: center;
        margin: 10%;
        padding: 0;
    }
    .proj-inline2 {
        width: fit-content;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .navbox-dark {
        font-size: 1rem;
    }
    .navbox-home-dark {
        font-size: 1rem;
    }
    .navbox-dark:hover {
        font-size: 1rem;
    }
    .navbox-home-dark:hover {
        font-size: 1rem;
    }
    .navbox-light {
        font-size: 1rem;
    }
    .navbox-home-light {
        font-size: 1rem;
    }
    .navbox-light:hover {
        font-size: 1rem;
    }
    .navbox-home-light:hover {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 300px) {
    .proj-inline {
        display: block;
        width: fit-content;
        margin: 1%;
        padding: 0;
    }
    .about-section-dark {
        width: 100%;
    }
    .about-section-light {
        width: 100%;
    }
}