* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    background-color: rgb(196, 186, 186);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./background.gif");
    background-size:contain;
}
.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.about-container img {
    width: 20%;
    margin: 2% 1%;
}
.welcome-container {

    width: 100%;
}
.welcome-container h2 {
    color: white;
    text-align: center;
}
.container2 {
    display: inline-flex;
    color: white;
}
.container3 {
    height: fit-content;
}
section.body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
}
h1.name {
    padding: 15px;
    font-size: 50px;
}
h3.goal {
    padding: 15px;
    margin-top: 10px;
    font-size: 22px;
    border-left: 2px solid white;
}
h2.about {
    margin-top: 25px;
}
nav {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: white;
}
img.profile-img {
    float: right;
    width: 11%;
    margin: 1%;
    margin-right: 4%;
    border-radius: 50%;
    border: 2px solid white;
}
img.profile-img:hover {
    cursor: none;
}
.project-listing {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.project-anchors {
    width: 50%;
}
.project-link {
    width: 50%;
}
.project-buttons {
    cursor: pointer;
    padding: 50px;
    background-color: rgba(4, 4, 116, 0.974);
    color: white;
    font-size: 22px;
    margin: 20px;
    width: 400px;
    border: 2px solid white;
    border-radius: 10px;
    transition: background-color ease-out 0.4s, width ease-out 0.4s;
}
.project-buttons:hover {
    background-color: white;
    border: 2px solid yellow;
    color: rgba(4, 4, 116, 0.974);
    width: 100%;
}

.navbox-home {
    justify-content: left;
    text-align: center;
    padding: 15px;
    margin: 1%;
    margin-top: 3%;
    height: fit-content;
    font-size: 28px;
    border: 2px solid white;
    background-color: rgba(4, 4, 116, 0.974);
    border-radius: 10px;
    width: 20%;
    transition: background-color 0.2s, width ease-out 0.4s;
    color: white;
}
.navbox-home:hover {
    text-align: center;
    padding: 15px;
    margin: 1%;
    margin-top: 3%;
    height: fit-content;
    border: 1px solid yellow;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    color: rgba(4, 4, 116, 0.974);
    cursor: pointer;
}
.nav-item {
    color: white;
    transition: color ease-out 0.4s;
}
.nav-item:hover {
    color: rgba(4, 4, 116, 0.974);
}
.navbox {
    position: relative;
    text-align: center;
    padding: 15px;
    font-size: 28px;
    margin: 1%;
    margin-top: 3%;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(4, 4, 116, 0.974);
    border-radius: 10px;
    width: 20%;
    color: white;
    transition: background-color 0.2s, width ease-out 0.4s;
}
.navbox:hover {
    text-align: center;
    padding: 15px;
    margin: 1%;
    margin-top: 3%;
    height: 50px;
    border: 1px solid yellow;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    color: rgba(4, 4, 116, 0.974);
    cursor: pointer;
}
section.about {
    border-top: 10px solid black;
    line-height: 2;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image-cards {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
    margin: 50px;
}
.image-cards p {
    height: auto;
    margin: 50px;
    text-align: justify;
}
.coding {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border-top: 15px solid white;
}
.jet {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    border-top: 5px solid white;
}
.home-pic {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}
.dream {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}
.underline-section {
    height: 5px;
    width: 100px;
    background-color: black;
    margin: auto;
    margin-bottom: 50px;
}
.slider-container {
    margin: auto;
    text-align: justify;
}
.slider-container img {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}
.slider-container p {
    margin-bottom: 3%;
}
.about-section {
    background-color: rgba(255, 248, 220, 0.9);
    width: 60%;
    margin: auto;
}
footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    color: white;
    background-color: rgba(4, 4, 116, 0.974);
}
.footer-icons {
    display: flex;
    margin: 50px;
    margin-bottom: 0;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.signature {
    text-align: center;
    margin-top: 2rem;
}
.feedback {
    color: black;
    background-color: cornsilk;
}
.feedback-box {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
}
.submit-feedback {
    margin: auto;
    width: 200px;
    border-radius: 10px;
    height: 75px;
    transition: background-color ease-out 0.3s;
}
.submit-feedback:hover {
    background-color: rgba(4, 4, 116, 0.974);
    color: white;
}

@media only screen and (max-width: 700px) {
    
    section.body {
        width: 100%;
    }
    .container2 {
        height: 500px;
    }
    .navbox {
        padding: 10px;
        font-size: 16px;
        margin: 20px;
        margin-left: auto;
        width: 50%;
        
    }
    .navbox-home {
        padding: 10px;
        font-size: 16px;
        margin: 20px;
        margin-left: auto;
        width: 50%;
    }
    .navbox:hover {
        padding: 10px;
        margin: 20px;
        margin-left: auto;
        width: 50%;
    }
    .navbox-home:hover {
        padding: 10px;
        margin: 20px;
        margin-left: auto;
        width: 50%;
    }
    .project-buttons {
        width: 70%;
    }
    .project-buttons:hover {
        width: 70%;
    }
    .profile-img {
        position: relative;
        bottom: 50px;
    }
}
@media only screen and (max-width: 800px) {
    .project-buttons {
        padding: 5px;
        margin: 10px;
        position: relative;
        top: 115px;
        width: 100%;
        font-size: 12px;
    }
    .project-buttons:hover {
        width: 100%;
    }
    .navbox {
        position: relative;
        
    }
    .navbox-home {
        position: relative;
        
    }
    .image-cards p {
        margin: 0;
    }
}
@media only screen and (max-width: 485px) {
    section img {
        display: none;
    }
    .profile-img {
        height: 35%;
        position: relative;
    }
    section p {
        padding: 0;
        text-align: justify;
    }
    .continued {
        text-align: justify;
        margin: 10px;
        padding: 5px;
    }
    .feedback-box {
        width: 100%;
    }
}
@media only screen and (max-width: 300px) {
    .profile-img {
        display: none;
    }
    .project-buttons {
        padding: 5px 25px;
        font-size: 10px;
        width: 150%;
    }
    .project-buttons:hover {
        width: 150%;
    }
    .navbox-home {
        display: none;
    }
    .project-buttons {
        position: relative;
    }
}
@media only screen and (max-width: 1000px) {

    .navbox:hover {
        width: 40%;
    }
    .navbox-home:hover {
        width: 40%;
    }
    .container3 {
        position: relative;
        right: 200px;
        top: 200px;
        
    }
}